/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: wrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #7289da;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Github */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linkedin {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linkedin:hover,
.button.button-linkedin:focus {
  filter: brightness(90%);
}

/* Steam */
.button.button-steam {
  color: #ffffff;
  background-color: #171a21;
}
.button.button-steam:hover,
.button.button-steam:focus {
  filter: brightness(90%);
}

/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
  filter: brightness(90%);
}

/* Twitch */
.button.button-twitch {
  color: #ffffff;
  background-color: #9146ff;
}
.button.button-twitch:hover,
.button.button-twitch:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-youtube {
  color: #ffffff;
  background-color: #000000;
}
.button.button-youtube:hover,
.button.button-youtube:focus {
  filter: brightness(90%);
}

/* Rocketseat */
.button.button-rocketseat {
  color: #ffffff;
  background-color: #8257e6;
}
.button.button-rocketseat:hover,
.button.button-rocketseat:focus {
  filter: brightness(90%);
}
